body {
  margin: 0;
  font-family: sans-serif;
}

header {
  background-color: rebeccapurple;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 2rem;
}

nav a {
  color: whitesmoke;
  text-decoration: none;
}